@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["email"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/wellad-silva-22966a17b/">Linkedin.com</a>
</address>